html {
  overscroll-behavior: none;
  height: 100%;
}

body {
  --footer-height: calc((var(--block-space)) + 3.6em + var(--block-space));
  --navbar-height: 4.125em;
  --sidebar-width: 0vw;

  display: grid;
  grid-template-areas:
    "nav sidebar"
    "main sidebar";
  grid-template-columns: 1fr var(--sidebar-width);
  grid-template-rows: min-content 1fr;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

@media (min-width: 100ch) {
  body.sidebar {
    --sidebar-width: 26vw;
  }
}

#nav {
  align-items: center;
  column-gap: var(--inline-space-half);
  display: flex;
  grid-area: nav;
  inset: 0 0 auto 0;
  inset-inline-end: var(--sidebar-width);
  padding-block: var(--block-space);
  padding-inline: calc(var(--inline-space) * 1.5) var(--inline-space-double);
  pointer-events: none;
  position: fixed;
  z-index: 2;
}

@media (max-width: 100ch) {
  .sidebar #nav {
    padding-block: var(--block-space-half);
  }

  .sidebar #nav::before {
    background: linear-gradient(180deg, oklch(var(--lch-white)) 20%, oklch(var(--lch-white) / 0) 100%);
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }
}

#main-content {
  align-content: start;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  grid-area: main;
  overflow: auto;
  position: relative;
}

.sidebar #main-content {
  justify-content: end;
}

@media (min-width: 100ch) {
  .sidebar #main-content {
    border-inline: 1px solid var(--color-border-darker);
    margin-inline: 5vw 0;
  }
}

#sidebar {
  grid-area: sidebar;
  position: relative;
  transition: transform 300ms ease;
}

.sidebar #sidebar {
  -webkit-backdrop-filter: blur(66px);
  backdrop-filter: blur(66px);
  background-color: oklch(var(--lch-white) / 0.66);
  block-size: 100dvh;
  max-block-size: 100dvh;
  z-index: 3;
}

@media (max-width: 100ch) {
  .sidebar #sidebar {
    inset: 0;
    position: fixed;
    transform: translate(100%);
  }

  #sidebar.open {
    transform: translate(0);
  }
}

#footer {
  grid-area: footer;
}
